* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.0);
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden { opacity: 0.2; }
window#waybar.termite { background-color: #3F3F3F; }

#workspaces button {
    padding: 0px 5px;
    background-color: transparent;
    color: #ffffff;
}
#workspaces button:first-child {
    padding-left: 5px;
    margin-left: 0;
}
#workspaces button:last-child {
    padding-left: 5px;
    padding-right: 10px;
}
#workspaces button:hover { background: rgba(0, 0, 0, 0.2); }
#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
#workspaces button.urgent { background-color: #eb4d4b; }

.modules-left {
    background-color: #434c5e;
    border-radius: 10px;
    color: #eceff4;
}

#window {
    margin: 0;
    padding-left: 5px;
    padding-right: 10px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #ffffff;
}


.modules-left > *:not(:last-child) {
    border-right: 1px solid rgba(216, 222, 233, 0.3);
}

.modules-center,
.modules-right {
    background-color: #434c5e;
    border-radius: 10px;
    color: #eceff4;
}

/* #privacy container within the center bubble */
.modules-center > #privacy {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.modules-center > *:not(:last-child),
.modules-right > *:not(:last-child) {
    border-right: 1px solid rgba(216, 222, 233, 0.3);
}

#hyprland-language,
#language {
    color: #8fbcbb;
    min-width: 16px;
    padding-left: 5px;
    padding-right: 10px;
}

#privacy-item,
#privacy-item.screenshare,
#privacy-item.audio-in,
#privacy-item.audio-out {
    padding: 0 10px;
    color: white;
    border-radius: 3px;
    margin: 0 2px;
    background-color: transparent;
}

#cpu { color: #a3be8c; padding: 0 10px; }
#memory { color: #b48ead; padding: 0 10px; }
#network { color: #88c0d0; padding: 0 10px; }
#network.disconnected { color: #bf616a; padding: 0 10px; }
#pulseaudio { color: #ebcb8b; padding: 0 10px; }
#pulseaudio.muted { color: #d8dee9; padding: 0 10px; }
#clock { padding: 0 10px; }
#tray { padding: 0 10px; }
#custom-zmk { padding: 0 10px; color: #d08770; }

.modules-center > *,
.modules-right > * {
    background-color: transparent;
}

#pulseaudio:hover { color: #f1c40f; }
@keyframes blink { to { color: #000000; } }
label:focus { background-color: #000000; }
#tray > .passive { -gtk-icon-effect: dim; }
#tray > .needs-attention { -gtk-icon-effect: highlight; background-color: #eb4d4b; }
